.form-container {
    text-align: center;
}

.result {
    display: flex;
    flex-wrap: wrap;
}

.result form {
    width: 300px;
    margin: 0 auto;
}

.result input[type="text"] {
    padding: 1px 10px;
    border-radius: 10px 10px 0 0;
    border: none;
    font-size: 1.5rem;
    display: block;
    margin: 0 auto;
    width: 220px;
    outline: none;
    text-align: center;
}

.result input[type="text"] {
    padding: 1px 10px;
    border-radius: 10px 10px 0 0;
    border: none;
    font-size: 1.5rem;
    display: block;
    margin: 0 auto;
    width: 220px;
    outline: none;
    text-align: center;
}

.result input[type="submit"] {
    padding: 1px 10px;
    width: 220px;
    border-radius: 0 0 10px 10px;
    border: none;
    background: blue;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10;
    position: relative;
}

.result .btn-sort-container {
    margin: 8px auto;
    width: 220px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}